body{
    margin: 0;
}
main{
    margin-left: 10%;
    margin-right: 10%;
}

.primo_blocco{
    width: auto;
    height: 150px;
    align-items: center;
    background-image: url("../img/pattern.png");
    background-color: rgb(0, 149, 255);
    background-size: 300px;
    
}

#the_booleaner{
    width: 300px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#author{
    color: rgb(0, 128, 255);
    font-weight: 300;
}

#data{
    font-size: x-small;
}

.comments{
    font-size: 80%;
    margin: 0%;
}
