body{
    margin: 0;
}
main{
    max-width: 1100px;
    margin: 0 auto;

}

.primo_blocco{
    width: auto;
    height: 150px;
    align-items: center;
    background-image: url("../img/pattern.png");
    background-color: rgb(0, 149, 255);
    background-size: 300px;
    
}

#the_booleaner{
    width: 300px;
    align-self: right center;
}

#author{
    color: rgb(0, 128, 255);
    font-weight: 300;
}

#data{
    font-size: x-small;
}

.comments{
    font-size: 80%;
    margin: 0%;
}

ul{
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

table{

    font-size: small;
    padding: 0;
    margin: 0;
}

thead{
    background-color: rgb(0, 213, 255);
    color:white;
}

.immagine1{
    background-image: url("../img/monitor.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;
}

.immagine2{
    background-image: url("../img/graph.jpg");
    width: 300px;
    height: 200px;
}

.scritta_immagini{
    padding: 3%;
    text-align: center right;
    color: white;
    text-decoration: solid;


}