body{
    margin: 0;
}

.primo_blocco{
    max-width: 1080px ;
    height: 200px;
    background-image: url(../html-css-booleaner/img/pattern.png);
    background-color: rgb(0, 149, 255);
    
}


#author{
    color: rgb(0, 128, 255);
    font-weight: 300;
}

#data{
    font-size: x-small;
}



